apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[{"apiVersion":"kubevirt.io/v1alpha1","kind":"NodeMaintenance","metadata":{"name":"nodemaintenance-xyz"},"spec":{"nodeName":"node02","reason":"Test
      node maintenance"}}]'
    capabilities: Basic Install
    categories: OpenShift Optional
    containerImage: quay.io/kubevirt/node-maintenance-operator
    description: Node-maintenance-operator maintains nodes in cluster
    repository: https://github.com/kubevirt/node-maintenance-operator
  name: node-maintenance-operator.vPLACEHOLDER_CSV_VERSION
  namespace: node-maintenance-operator
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: Represents a deployment of node maintenance crd
      displayName: KubeVirt node maintenance
      kind: NodeMaintenance
      name: nodemaintenances.kubevirt.io
      specDescriptors:
      - description: The version of the node maintenance to deploy
        displayName: Version
        path: version
        x-descriptors:
        - urn:alm:descriptor:io.kubernetes.node-maintenance:version
      version: v1alpha1
  description: Node maintenance operator
  displayName: Node Maintenance Operator
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ''
          resources:
          - services
          - endpoints
          - events
          - configmaps
          - serviceaccounts
          verbs:
          - '*'
        - apiGroups:
          - ''
          resources:
          - nodes
          verbs:
          - get
          - list
          - update
          - patch
          - watch
        - apiGroups:
          - ''
          resources:
          - pods
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ''
          resources:
          - pods/eviction
          verbs:
          - create
        - apiGroups:
          - ''
          resources:
          - namespaces
          verbs:
          - get
        - apiGroups:
          - apps
          resources:
          - deployments
          - daemonsets
          - replicasets
          - statefulsets
          verbs:
          - '*'
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - servicemonitors
          verbs:
          - get
          - create
        - apiGroups:
          - kubevirt.io
          resources:
          - '*'
          verbs:
          - '*'
        - apiGroups:
          - oauth.openshift.io
          resources:
          - '*'
          verbs:
          - '*'
        serviceAccountName: node-maintenance-operator
      deployments:
      - name: node-maintenance-operator
        spec:
          replicas: 1
          selector:
            matchLabels:
              name: node-maintenance-operator
          strategy: {}
          template:
            metadata:
              labels:
                name: node-maintenance-operator
            spec:
              affinity:
                nodeAffinity:
                  requiredDuringSchedulingIgnoredDuringExecution:
                    nodeSelectorTerms:
                    - matchExpressions:
                      - key: node-role.kubernetes.io/master
                        operator: Exists
              containers:
              - env:
                - name: WATCH_NAMESPACE
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: OPERATOR_NAME
                  value: node-maintenance-operator
                image: quay.io/kubevirt/node-maintenance-operator:<IMAGE_VERSION>
                imagePullPolicy: Always
                name: node-maintenance-operator
                resources: {}
              serviceAccountName: node-maintenance-operator
              tolerations:
              - effect: NoSchedule
                key: node-role.kubernetes.io/master
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - KubeVirt
  - Virtualization
  - Node-maintenance
  labels:
    alm-owner-kubevirt: nodemaintenanceoperator
    operated-by: nodemaintenanceoperator
  links:
  - name: KubeVirt
    url: https://kubevirt.io
  - name: Source Code
    url: https://github.com/kubevirt/node-maintenance-operator
  maintainers:
  - email: kubevirt-dev@googlegroups.com
    name: KubeVirt project
  maturity: alpha
  provider:
    name: KubeVirt project
  selector:
    matchLabels:
      alm-owner-kubevirt: nodemaintenanceoperator
      operated-by: nodemaintenanceoperator
  version: PLACEHOLDER_CSV_VERSION
